.thank-you {
  font-size: 16px;
  padding: 20px;
}
#applications-form {
  padding: 10px;
}
#applications-form input,
#applications-form select {
  width: 95%;
}

#applications-form input:hover {
  background-color: lightgray;
}
label {
  display: block;
  font-weight: 300 !important;
  font-family: "Playfair Display", serif !important;
}
.form-control {
  width: auto;
  padding: 8px 12px;
  font-size: 13px;
}
.help-block {
  margin-left: 10px;
}
.progress {
  width: 300px;
  height: 10px;
  border-radius: 0px;
  margin-top: 2px;
}
#btn-submit {
  width: 480px;
  background-color: #26424f;
  border: none;
  font-size: 15px;
  color: white;
  border-radius: 0px;
  font-family: "Playfair Display", serif !important;
  padding: 16px 16px;
  margin-top: 5px;
}

#btn-submit:hover {
  background-color: #3d6274;
}

.form-container {
  font-family: "Raleway", sans-serif !important;
}

.form-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-family: "Playfair Display", serif !important;
  font-size: 16px;
  font-weight: 300 !important;
}

#applications-form input {
  background-color: transparent !important;
  border: 1.5px solid black !important;
}

input[type="file"] {
  background-color: transparent !important;
}

.form-control {
  border: 1.5px solid black;
  font-family: "Raleway", sans-serif !important;
  border-radius: 0px;
  height: 25px;

  transition: 0.3s;
}

body {
  background-image: url("img/white-r.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 100px;
  width: 15%;
  margin-top: 111px;
  margin-left: 68%;
  background-image: url(img/logo-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-con {
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  #applications-form input,
  #applications-form select {
    width: 750px !important;
  }

  .form-control {
    height: 86px !important;
    width: 750px !important;
  }

  .logo {
    height: 153px !important;
    width: 45% !important;
    margin-top: 111px;
    margin-left: 29%;
    background-image: url(img/logo-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .form-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    font-family: "Playfair Display", serif !important;
    font-size: 29px;
    font-weight: 300 !important;
  }

  #btn-submit {
    width: 749px !important;
    background-color: #26424f;
    border: none;
    font-size: 29px;
    color: white;
    border-radius: 0px;
    font-family: "Playfair Display", serif !important;
    padding: 30px 30px;
    margin-top: 26px;
  }
  .form-control {
    width: auto;
    padding: 24px 12px;
    font-size: 26px;
  }
}
